{% extends '@App/base.twig' %}

{% block body %}
    hello les gens
    {% for article in articles %}
        <h2><a href="">{{ article.title }}</a></h2>
        <p>{{ article.content }}</p>
        <i>{{ article.created_at|date }}</i>
    {% endfor %}
{% endblock %}